/*** SELECTORS***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2 {
  color: #ffd718;
}

body {
  background: linear-gradient(to right, #0575e6, #021b79);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header a {
  color: #eeeeee;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  margin-left: 4.375rem;
  text-transform: uppercase;
  display:inline;
}

/*** END SELECTORS***/

/*** CLASSES ***/

.border-line {
  border-bottom: solid 3px #959799;
}

.center {
  text-align: center;
}

.main-spacing {
  padding: 50px 20px;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-spacing p {
  width: 80%;
}
.main-background {
  width: 100%;
}

.main-background img {
  width: 100%;
  height: 350px;
}

.flex-row {
  display: flex;
}

/*** END CLASSES ***/

/* Footer */
footer {
  color: #eeeeee;
}
/* End Footer */
