/*** SELECTORS***/
* {
  margin: 0;
  padding: 0;
  
}

p,
h1,
h2 {
  color: #ffd718;
  text-align: center;
}

body {
  background: linear-gradient(to right, #0575e6, #021b79);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #eeeeee;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 4.375rem;
  text-transform: uppercase;
  display:inline;
}

article {
  display: flex;
  flex-wrap: wrap;
}

#about-me p {
  padding: 25px 200px;
}

/*** END SELECTORS***/

/*** CLASSES ***/

.main-spacing {
  padding: 50px 20px;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.main-background {
  width: 100%;
}

.main-background img {
  width: 100%;
  height: 350px;
}

.section-title {
  font-size: 35px;
  padding-bottom: 20px;
  margin: 0 auto 35px auto;
  width: 50%;
  display:flex;
  justify-content: center;
}

.primary-border {
  border-bottom: 3px solid #959799;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


/*** END CLASSES ***/

/* Footer */
footer {
  color: #eeeeee;
}
/* End Footer */
