/*** SELECTORS***/
* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2 {
  color: #000000;
}

body {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES */

header {
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #000000;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 4.375rem;
  text-transform: uppercase;
  display:inline;
}

/* END HEADERS STYLES */

.img-shadow {
  box-shadow: 2px 5px#000000;
}

.about-me p {
  padding: 50px 200px;
  text-align: center;
}

/*** END SELECTORS***/

/*** CLASSES ***/

.main-spacing {
  padding: 50px 20px;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-background {
  width:100%
}

.main-background img {
  width: 100%;
  height: 350px;
}


.section-title {
  font-size: 30px;
  margin: 20px auto 35px auto;
  display:flex;
  justify-content: center;
}

.primary-border {
  border-bottom: 3px solid #959799;
}

.flex-row {
  display: flex;
  flex-wrap:wrap;
  }

  .flex-column {
    display:flex;
    flex-direction: column;
  }

  .space-between {
    justify-content: space-between;
    align-items:center;
  }

  .space-around {
    justify-content: space-around;
  }

  .contact-button {
    background-color: #d3cce3;
    padding: 10px 10px;
  }

  .project-spacing {
    padding:25px 25px 50px 25px;
    font-size: 25px;
  }

  .img-size {
    max-width: 800px;
    height: 500px;
  }

  .secondary-img {
    max-width: 200px;
    height:125px;
  }

/*** END CLASSES ***/

/* Footer */

footer {
  color: #000000;
  text-align: center;
  padding:15px 0;
}
/* End Footer */
